body{
	margin:0;
	font-family: "Montserrat";
}
h1{
	text-align: center;
	background-color: black;
	color:white;
	/*background-color: rgb(75, 242, 183);*/
	margin: 0;
	font-weight: normal;
}
button{
	border:none;
	background-color: gold;
	font-size: inherit;
	font-weight: bold;
	color:white;
	height:100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.3s;
}
button:hover{
	color:gold;
	background-color: white;
}
.square{
	width:30%;
	background-color: blue;
	float:left;
	padding-bottom: 30%;
	margin:1.66%;
	border-radius: 50%;
}
#container{
	max-width:600px;
	margin:0 auto;
}
#stripe{
	background-color: gold;
	height:30px;
	text-align: center;
}
.selected{
	background: black;
}
#rgbspan{
	font-size: 150%;
}
#message{
	display: inline-block;
	width: 20%;
}
span#message{
	font-weight: bold;

}