body{
	margin:0;
	font-family: "Montserrat";
}
h1{
	text-align: center;
	background-color: black;
	color:white;
	/*background-color: rgb(75, 242, 183);*/
	margin: 0;
	font-weight: normal;
}
button{
	border:none;
	background-color: gold;
	font-size: inherit;
	font-weight: bold;
	color:white;
	height:100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.3s;
}
button:hover{
	color:gold;
	background-color: white;
}
.square{
	width:30%;
	background-color: blue;
	float:left;
	padding-bottom: 30%;
	margin:1.66%;
	border-radius: 50%;
	transition: background 0.6s;
	-webkit-transition:background 0.6s;
	-moz-transition:background 0.6s;

}
#container{
	max-width:600px;
	margin:0 auto;
}
#imgcontainer1{
	float:right;
	background-color: white;
	width:20%;
	height:10em;
	margin-right: 2%;
	margin-top: 10%;
}
#imgcontainer{
	float:left;
	background-color: white;
	width:20%;
	height:10em;
	margin-left: 2%;
	margin-top: 10%;
}

#stripe{
	background-color: gold;
	height:30px;
	text-align: center;
}

.selected{
	background: black;
}
#rgbspan{
	font-size: 150%;
}
#message{
	display: inline-block;
	width: 20%;
}
#colortv{
	max-width:100%;
	object-fit: contain;
}
#moviemsg1{
	margin-bottom:-15%;
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
}
#moviemsg{
	margin-bottom:-15%;
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
}
span#message{
	font-weight: bold;

}

@media (max-width: 1090px){
	#imgcontainer{
		display: none;
	}
	#imgcontainer1{
		display: none;
	}
}